body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10vh;
  background-color: rgb(53, 52, 52);
}
body > :first-child {
  background-color: rgb(46, 46, 46);
  padding: 1vw;
  width: 500px;
  height: 500px;
  border-radius: 35px;
}
body > :first-child > button {
  width: 121px;
  height: 121px;
  flex-wrap: wrap;
  font-size: 50px;
  border-radius: 30px;
  border-color: transparent;
  margin-bottom: 5px;
  background-color: rgb(35, 37, 36);
}
body > :first-child > button:hover {
  transition: 0.5s;
  background-color: rgb(151, 39, 5);
  border-radius: 40px;
  cursor: grab;
}
body > :first-child > button:active {
  animation: 0.5s tileReveal infinite;
}
@keyframes tileReveal {
  0% {
    color: white;
  }
  100% {
  }
}
.hidden {
  color: transparent;
}
